# 数据库
MYSQL_DSN="root:password@tcp(mybili-sql:3306)/mybili?charset=utf8mb4&parseTime=True&loc=Local"
REDIS_ADDR="mybili-redis:6379"
REDIS_PW="hgfh6f4gh56f"
REDIS_DB="0"

# server
SESSION_SECRET="setOnProducation"
GIN_MODE="debug"
LOG_LEVEL="debug"
JWT_ISSUER="fghfg"
JWT_KEY="dsfsdasdafsdf8s87d"

# 对象存储OBS
BUCKET_ADDR="https://example.cos.ap-guangzhou.myqcloud.com"
SECRET_ID="asdsadasdas5d4a56SSDSDWEWD"
SECRET_KEY="SfdMuSDADASWw73SADASDAJ1Tgd"

# logger
LOG_FILE_PATH = "log/mybililog"